/node_modules
/dist
/.vscode
/client/dist
/client/node_modules
/server/node_modules
.prettierignore
.gitignore

# tsconfig.node.json
# tsconfig.app.json
# tsconfig.json
# vite.config.ts
# tsconfig.vite.json
# tailwind.config.js
# postcss.config.js
# package.json
# package-lock.json






